<html ng-app="NewsFeeds">
<head>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  	
  	  	    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  	<script type="text/javascript" src="app.js"></script>


</head>
<body ng-controller="NewsController as news">
	

			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{active:panel.isSelected(1) }"> 
						<a href ng-click="panel.selectTab(1)">BBC</a>
					</li>
					<li ng-class="{ active: panel.isSelected(2)}"> 
						<a href ng-click="panel.selectTab(2)"> The Telegraph</a> 
					</li>
					<li ng-class="{ active: panel.isSelected(3)}"> 
						<a href ng-click="panel.selectTab(3)">The Guardian</a> 
					</li>
					<li ng-class="{ active: panel.isSelected(4)}"> 
						<a href ng-click="panel.selectTab(4)">Leicester Mercury</a> 
					</li>
				</ul>

			
			
				<div class="panel" ng-show="panel.isSelected(1)">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="article in bbc">
								<h3>
					  				<a href={{article.link}}>{{article.title}}</a>
					    			<em class="pull-right">{{article.author}}</em>
					    		</h3>
					    		<h4>
					    			<p>{{article.contentSnippet}}</p>
					    		</h4>
							</li>
						</ul>
				</div>
				
				<div class="panel" ng-show="panel.isSelected(2)">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="article in telegraph">
								<h3>
					  				<a href={{article.link}}>{{article.title}}</a>
					    			<em class="pull-right">{{article.author| limitTo : 10}}</em>
					    		</h3>
					    		<h4>
					    			<p>{{article.contentSnippet}}</p>
					    		</h4>
							</li>
						</ul>
				</div>
				
				<div class="panel" ng-show="panel.isSelected(3)">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="article in guardian">
								<h3>
					  				<a href={{article.link}}>{{article.title}}</a>
					    			<em class="pull-right">{{article.author | limitTo : 10}}</em>
					    		</h3>
					    		<h4>
					    			<p>{{article.contentSnippet}}</p>
					    		</h4>
							</li>
						</ul>
				</div>
				<div class="panel" ng-show="panel.isSelected(4)">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="article in mercury">
								<h3>
					  				<a href={{article.link}}>{{article.title}}</a>
					    			<em class="pull-right">{{article.author | limitTo : 10}}</em>
					    		</h3>
					    		<h4>
					    			<p>{{article.contentSnippet}}</p>
					    		</h4>
							</li>
						</ul>
				</div>				
			</section>






    
  </div>




	</body>
</html>