<html ng-app="NewsFeeds">
<head>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  	
  	  	    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  	<script type="text/javascript" src="app.js"></script>


</head>
<body ng-controller="NewsController as news">
	

			<section ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{active:panel.isSelected(1) }"> 
						<a href ng-click="panel.selectTab(1)">Telegraph</a>
					</li>
					<li ng-class="{ active: panel.isSelected(2)}"> 
						<a href ng-click="panel.selectTab(2)">BBC</a> 
					</li>
					<li ng-class="{ active: panel.isSelected(3)}"> 
						<a href ng-click="panel.selectTab(3)">Leicester mercury</a> 
					</li>
				</ul>
			
			
				<div class="panel" ng-show="panel.isSelected(1)">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="article in news.articles">
								<h3>
					  				{{article.title}}
					    			<em class="pull-right">{{article.publishedDate}}</em>
					    		</h3>
					    		<h4>
					    			<p>{{article.contentSnippet}}</p>
					    		</h4>
							</li>
						</ul>
				</div>
				
				<div class="panel" ng-show="panel.isSelected(2)">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="article in news3.articles">
								<h3>
					  				{{articles.title}}
					    			<em class="pull-right">{{articles.publishedDate}}</em>
					    		</h3>
					    		<h4>
					    			<p>{{articles.contentSnippet}}</p>
					    		</h4>
							</li>
						</ul>
				</div>
				
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<blockquote>None yet</blockquote>
				</div>
			</section>






    
  </div>




	</body>
</html>